#suite.nueue
  %a{ href: "https://github.com/snikch/suite" }
    %img{ src: "https://github.com/snikch/suite/raw/master/logo.png", width: 150 }
    %br
    Built with Suite
#impress.nueue.webdevnights
  #devnights.step{ "data-x" => "-1400", "data-y" => "-1500" }
    %img.logo.left{ src: "/assets/images/web-dev-meetup.png", width: 200 }
    %h2 Auckland<br>Web Dev<br>Nights
    .logos
      %a{ href: "http://www.meetup.com/Auckland-Web-Dev-Nights/" }
        %img{ src: "/assets/images/meetup-logo.png" }
      %a{ href: "https://github.com/webdevnights" }
        %img{ src: "/assets/images/octocat.png" }
      %a{ href: "http://vimeo.com/channels/322981" }
        %img{ src: "/assets/images/vimeo-logo.png" }

  #first.step.meetup{ "data-x" => "-700", "data-y" => "-1500" }
    .title
      %h1
        %a.rounded{ href: "http://www.meetup.com/Auckland-Web-Dev-Nights/events/56870282/", target: "_blank" } #1 First!!1!
      %h2 26th April 2012
      %p
        %a.meetup-link{ href: "http://www.meetup.com/Auckland-Web-Dev-Nights/events/56870282/", target: "_blank" } meetup details →
    .content
      %ul
        %li
          Must Have Tool:
          %a.rounded.github{ href: "https://github.com/sj26/mailcatcher" } Mailcatcher
        %li
          Caleb Tutty:
          %a.rounded.disabled{ href: "#" } Test Driven Development
        %li
          Mal Curtis:
          %a.rounded{ href: "/feature-flipping" } Feature Flipping
        %li
          Jordan Bullivant:
          %a.rounded{ href: "/vendor/deploying-with-git" } Deploying with Git
          %p.footnote Sorry, due to my technical idiocy Caleb and Jordan missed out on videos
