#suite.nueue
  %a{ href: "https://github.com/snikch/suite" }
    %img{ src: "https://github.com/snikch/suite/raw/master/logo.png", width: 150 }
    %br
    Built with Suite
#impress.nueue.webdevnights
  #devnights.step{ "data-x" => "-1400", "data-y" => "-1500" }
    %img.logo.left{ src: "/assets/images/web-dev-meetup.png", width: 200 }
    %h2 Auckland<br>Web Dev<br>Nights
    .logos
      %a{ href: "http://www.meetup.com/Auckland-Web-Dev-Nights/" }
        %img{ src: "/assets/images/meetup-logo.png" }
      %a{ href: "https://github.com/webdevnights" }
        %img{ src: "/assets/images/octocat.png" }
      %a{ href: "http://vimeo.com/channels/322981" }
        %img{ src: "/assets/images/vimeo-logo.png" }

  #first.step.meetup{ "data-x" => "-700", "data-y" => "-1500" }
    .title
      %h1
        %a.rounded{ href: "http://www.meetup.com/Auckland-Web-Dev-Nights/events/56870282/", target: "_blank" } #1 First!!1!
      %h2 26th April 2012
      %p
        %a.meetup-link{ href: "http://www.meetup.com/Auckland-Web-Dev-Nights/events/56870282/", target: "_blank" } meetup details →
    .content
      %ul
        %li
          Must Have Tool:
          %a.rounded.github{ href: "https://github.com/sj26/mailcatcher" } Mailcatcher
        %li
          Caleb Tutty:
          %a.rounded{ href: "http://www.slideshare.net/snikch1/test-driven-development-caleb-tutty" } Test Driven Development
        %li
          Mal Curtis:
          %a.rounded{ href: "/feature-flipping" } Feature Flipping
        %li
          Jordan Bullivant:
          %a.rounded{ href: "/vendor/deploying-with-git" } Deploying with Git
          %p.footnote Sorry, due to my technical idiocy Caleb and Jordan missed out on videos
  #second.step.meetup{ "data-x" => "400", "data-y" => "-1500" }
    .title
      %h1
        %a.rounded{ href: "http://www.meetup.com/Auckland-Web-Dev-Nights/events/56870282/", target: "_blank" } #2 Pre Anzac
      %h2 9th May 2013
      %p
        %a.meetup-link{ href: "http://www.meetup.com/Auckland-Web-Dev-Nights/events/110217562/", target: "_blank" } meetup details →
      %p
        %br
        %br
        Sponsors:
      %p
        %div{ style: "float: left; margin: 20px 0 20px; width: 140px; text-align: center;" }
          %a{ href: "http://flippa.com", target: "_blank" }
            %img{ src: "/assets/images/flippa.png", width: 140 }
          %br
          %br
          %a{ href: "http://vendhq.com", target: "_blank" }
            %img{ src: "/assets/images/vend.png", width: 110 }
          %br
          %br
          %a{ href: "http://bizdojo.com", target: "_blank" }
            %img{ src: "/assets/images/bizdojo2.png", width: 90 }
      %p
    .content
      %ul
        %li
          Must Use Tool:
          %a.rounded{ href: "http://kudakurage.com/ligature_symbols/" } Ligature Fonts
        %li
          James Rowlands:
          %a.rounded{ href: "/data-visualization-with-d3/d3" }
            Graphically Speaking:<br /> Data Visualization with D3
          %a.ligature.download{ href: "/data-visualization-with-d3/talk-final.zip"} download
        %li
          Mal Curtis:
          %a.rounded{ href: "/automated-browser-testing/index" } Automated Browser Testing
        %li
          Karl von Randow:
          %a.rounded{ href: "http://www.slideshare.net/snikch1/web-crypto" } Web Crypto
