#impress.webdevnights
  #first.step.centered{ "data-x" => "-1400", "data-y" => "-2200", "data-scale" => 2.5 }
    %h1 Grab a drink<br>We’ll start soon<br><br><br><br><br>
  .step.centered{ "data-x" => "-1400", "data-y" => "-1500" }
    .title
      .ligature
        webdevnights
      %h1.auckland Auckland
      %h1.web Web Dev
      %h1.nights Nights
  .step{ "data-x" => "1200", "data-y" => "-1500" }
    %h1 Thank You for Coming

  .step.sponsors{ "data-x" => "2600", "data-y" => "-1500" }
    %h1 I’d like to thank our sponsors...
  .step.sponsors.centered{ "data-x" => "3500", "data-y" => "-1500" }
    %img{ src: "/assets/images/grabone.png", width: 650 }
  .step.sponsors.centered{ "data-x" => "4100", "data-y" => "-1500" }
    %img{ src: "/assets/images/vend.png", width: 300 }

  .step.programme.dark{ "data-x" => "5600", "data-y" => "-500" }
    %h2 Tonight’s
    %h1 Programme

  .step.speaker.centered.dark{ "data-x" => "5300", "data-y" => "500", "data-rotate" => 90 }
    %h2.time ~ 6.45
    %h1 Benoit Chabord, GrabOne
    %h2 Elastic Services

  .step.segue.centered.dark{ "data-x" => "5000", "data-y" => "500", "data-rotate" => 90 }
    %h2.time ~ 7.15
    %h1 Pizza

  .step.speaker.centered.dark{ "data-x" => "4700", "data-y" => "500", "data-rotate" => 90 }
    %h2.time ~ 7.45
    %h1 Rick Mugridge
    %h2 Reactive DOM

  .step.speaker.centered.dark{ "data-x" => "4400", "data-y" => "500", "data-rotate" => 90 }
    %h2.time ~ 8.20
    %h1 Sarah Hui, Vend
    %h2 JavaScript, Robots, and Me

  .step.segue.centered.dark{ "data-x" => "4100", "data-y" => "500", "data-rotate" => 90 }
    %h2.time ~ 9.00
    %h1 End

  .step.segue.centered.dark{ "data-x" => "3800", "data-y" => "500", "data-rotate" => 90 }
    %h2.time ~ 9.10
    %h1 Head across the road for a drink


  .step.centered.dark{ "data-x" => "3000", "data-y" => "500", "data-rotate" => 90, "data-rotate-z" => 00, "data-rotate-x" => -90, "data-rotate-y" => -90 }
    %h1 Let’s get started.

  .step.centered.dark{ "data-x" => "3000", "data-y" => "6700", "data-rotate" => 90, "data-rotate-z" => 00, "data-rotate-x" => -90, "data-rotate-y" => -90, "data-scale" => 7 }
    %h1 Benoit Chabord

  .step.centered.dark{ "data-x" => "3000", "data-y" => 17800, "data-rotate" => 90, "data-rotate-z" => 00, "data-rotate-x" => -90, "data-rotate-y" => -90, "data-scale" => 18 }
    %h1 Rick Mugridge

  .step.centered.dark{ "data-x" => "3000", "data-y" => "40000", "data-rotate" => 90, "data-rotate-z" => 00, "data-rotate-x" => -90, "data-rotate-y" => -90, "data-scale" => 36 }
    %h1 Sarah Hui


  .step.centered.light{ "data-x" => "-1400", "data-y" => "-1300", "data-scale" => 3 }
    %h1 <br><br><br><br>Thank You
