#impress
  #first.step.centered{ "data-x" => "-1400", "data-y" => "-1500" }
    %h1
      %img{ src: "https://github.com/snikch/suite/raw/master/logo.png" }
    %h2 Front End Development for Hackers

