.impress-supported #banner{
	opacity: 0.1;
}
#banner{
	position: absolute;
	opacity: 1;
	width: 100%;
	left: 0;
	top: 0;
	background: #343434;
	padding: 20px;
	@include transition(2s ease);
	&:hover{
		opacity: 1;
	}
	h1{
		font-size: 24px;
		color: #fff;
		text-shadow: 1px 1px 1px #000;
	}
	p{
		float: right;
		margin: 0;
		padding-right: 40px;
		text-align: right;
		line-height: 20px;
	}
	a{
		color: #fff;
		font-size: 18px;
	}
}
#impress code{
	display:block;
	text-align:left;
	line-height: 100%;
	font-size: 40px;
}
#suite{
	position: absolute;
	bottom:10px;
	right: 10px;
	text-align: center;
	opacity: 0.2;
	img{ vertical-align: middle; padding-bottom: 10px; }
	a{ color: #333; text-decoration: none; }
	&:hover{ opacity: 1; }
}

.logo{
	margin:20px;
}
.left{
	float:left;
}
.right{
	float: right;
}
.disabled{
	opacity: 0.5;
}
#impress a{
	text-decoration: none;
	img{
		vertical-align: middle;
		padding: 0 6px 0 0;
	}
	&.github{
		padding-left: 48px;
		background-image: url('/assets/images/octocat.png');
		background-position: 10px center;
		background-repeat: no-repeat;
	}
}
.footnote{
	font-size: 14px;
	width: 450px;
	color: #888;
}
